{% extends "base.html" %}
{% block title %}ISPP Decryption Service Verifone VSD{% endblock %}
{% block content %}
<form action="#" method="post">
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Endpoint</h4>
        <div class="row g-2">
            <div class="col-sm-9">
                <label for="url" class="form-label">URL</label>
                <input type="text" class="form-control" id="url" placeholder="" value="" required>
            </div>
            <div class="col-sm-3">
                <label for="port" class="form-label">Port</label>
                <input type="text" class="form-control" id="port" placeholder="" value="" required>
            </div>

            <h4 class="mb-3">Fields</h4>
            <div class="col-sm-3">
                <label for="format_type" class="form-label">Format Type</label>
                <input type="text" class="form-control" id="format_type">
            </div>
            <div class="col-sm-9">
                <label for="sequence" class="form-label">Sequence </label>
                <input type="text" class="form-control" id="sequence">
            </div>
            <div class="col-sm-4">
                <label for="domain" class="form-label">Domain </label>
                <input type="text" class="form-control" id="domain">
            </div>
            <div class="col-sm-4">
                <label for="terminalId" class="form-label">Terminal Id </label>
                <input type="text" class="form-control" id="terminalId">
            </div>
            <div class="col-sm-4">
                <label for="merchantId" class="form-label">Merchant Id </label>
                <input type="text" class="form-control" id="merchantId">
            </div>
            <div class="col-sm-4">
                <label for="storeId" class="form-label">Store Id <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="storeId">
            </div>
            <div class="col-sm-6">
                <label for="deviceSerial" class="form-label">Device Serial</label>
                <input type="text" class="form-control" id="deviceSerial">
            </div>
            <div class="col-sm-4">
                <label for="transactionType" class="form-label">Transaction Type</label>
                <input type="text" class="form-control" id="transactionType">
            </div>
            <div class="col-sm-4">
                <label for="amount" class="form-label">Amount</label>
                <input type="text" class="form-control" id="amount">
            </div>
            <div class="col-sm-4">
                <label for="expirationDate" class="form-label">Expiration Date</label>
                <input type="text" class="form-control" id="expirationDate">
            </div>
            <div class="col-sm-4">
                <label for="verifoneEParms" class="form-label">Verifone EParms</label>
                <input type="text" class="form-control" id="verifoneEParms">
            </div>
            <div class="col-sm-4">
                <label for="userSpecificData" class="form-label">User Specific Data</label>
                <input type="text" class="form-control" id="userSpecificData">
            </div>
            <div class="col-sm-12">
                <label for="requestProcessingStatistics" class="form-label">Request Processing Statistics</label>
                <input type="text" class="form-control" id="requestProcessingStatistics">
            </div>
            <div class="col-sm-12">
                <label for="encryptedPan" class="form-label">Encrypted Pan</label>
                <input type="text" class="form-control" id="encryptedPan">
            </div>
            <div class="col-sm-12">
                <label for="encryptedTrack1" class="form-label">Encrypted Track 1</label>
                <textarea class="form-control" id="processorNativeMessage" rows="4" cols="250">
                        </textarea>
            </div>
            <div class="col-sm-12">
                <label for="encryptedTrack2" class="form-label">Encrypted Track 2</label>
                <textarea class="form-control" id="processorNativeMessage" rows="4" cols="250">
                                    </textarea>
            </div>
        </div>
    </div>
    <br><br>
    <button class="w-50 btn btn-primary btn-lg" type="submit">SUBMIT</button>
    <br><br>
</form>
{% endblock %}